*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bounce{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    text-shadow: 4px 4px 4px hsla(0, 0%, 0%, .5);
}
.bounce span{
    display: inline-block;
}
.bounce span:nth-child(1){
    color: #4285f4;
}
.bounce span:nth-child(2){
    color: #E94D3D;
}
.bounce span:nth-child(3){
    color: #F7C945;
}
.bounce span:nth-child(4){
    color: #4285f4;
}
.bounce span:nth-child(5){
    color: #34A853;
}
.bounce span:nth-child(6){
    color: #E94D3D;
}

.bounce-active{
    animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce{
    50%{
        transform: translateY(-100px) scale(1.5);
        text-shadow: 0 100px 8px hsla(0, 0%, 0%, .5);
    }
}